ul {
    margin-bottom: 0px; /*remove default property */
}

.yunji {
    width: 100%; /*ensure image takes up whole column*/
}

.abouttitle {
    font-size: 15px;
    margin-bottom: 8px;
}

.abouttitle2 { /*css for last title to remove bottom margin*/
    font-size: 15px;
    margin-bottom: 0px;
}

.aboutbullet {
    font-size: 12px;
}

.group { /*create inner shadow box for text background*/
    margin-bottom: 25px;
    background-color: #F0F0F0;
    box-shadow: 1px 1.5px 5px #A0A0A0 inset;
    padding: 20px 23px 20px 23px;
    border-radius: 4px;
}

.group1 { /*css for first box to add space between elements*/
    margin-top: 40px;
}

.pink { /*add pink highlights to certain texts*/
    background-color: #FFE1E3;
    padding: 5px;
    border-radius: 2px;
}