h2.analytics {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}

.analytics {
  margin-top: 120px;
}

.analyticsbuttons {
  margin-right: 35px;
  padding-top: 107.25px;
}

.analyticsbuttons > * {
  display: block;
}

#button7, #button8 {
  margin-top: 18px;
}

.analyticsimage {
  width: 700px;
}

.image {
  display: flex;
  justify-content: center;
}
