footer {
  margin-top: 40px;
  text-align: center;
  margin-left: -40px;
}

ul.footer, li.footer, .privacy, .social, .privacylink, .sociallink {
  display: inline-block;
}

.privacy {
  margin-right: 70px;
}

.privacylink, .sociallink {
  font-size: 14px;
  text-decoration: none;
}

.privacylink {
  color: #FFFFFF;
}

.sociallink {
  color: #F38C8F;
}
