html {
  font-family: Gotham;
  background-color: #121212;
}

header {
  position: fixed;
  top: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #121212;
}

.logo {
  width: 120px;
}

ul.headernav {
  list-style: none;
}

li.headerlink {
  display: inline-block;
}

.links {
  font-size: 14px;
  text-decoration: none;
  padding: 20px;
  color: #FFFFFF
}

.buttonlinks {
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 23px;
  border-style: none;
  color: #FFFFFF;
  background-color: #F38C8F;
}

button:focus {outline:0;}
