html {
  font-family: Gotham;
  background-color: #121212;
  color: #FFFFFF;
  font-weight: lighter;
  margin-left: 500px;
  margin-right: 500px;
}

h2 {
  margin-top: 40px;
  color: #F38C8F;
}

p.firsttitle {
  font-weight: bold;
}

p.title {
  font-weight: bold;
  margin-top: 40px;
}

.email {
  color: #F38C8F;
  text-decoration: none;
}
