h2.product {
  color: #FFFFFF;
  margin-bottom: 45px;
}

.features {
  margin: 120px auto 0;
  text-align: center;
}

.productbuttons > * {
  position: absolute;
  left: 50%;
  width: 700px;
  margin: -350px;
}

.productbuttons > *:nth-of-type(1) {
  transform: rotate(270deg) translate(385px) rotate(-270deg);
}

.productbuttons > *:nth-of-type(2) {
  transform: rotate(342deg) translate(385px) rotate(-342deg);
}

.productbuttons > *:nth-of-type(3) {
  transform: rotate(414deg) translate(315px) rotate(-414deg);
}

.productbuttons > *:nth-of-type(4) {
  transform: rotate(486deg) translate(315px) rotate(-486deg);
}

.productbuttons > *:nth-of-type(5) {
  transform: rotate(558deg) translate(385px) rotate(-558deg);
}

.productimage {
  display: block;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.featurebutton {
  border-style: solid;
  border-width: medium;
  height: 60px;
  width: 180px;
  border-color: #FFFFFF;
  border-radius: 20px;
  background-color: #363636;
  color: #FFFFFF;
  font-size: 15px;
}
